<!DOCTYPE html>
<html lang="en">
    <head>
        <script type="text/javascript" src="/static/js/script.js"></script>
        <link rel="stylesheet" href="/static/css/style.css" />
        <title>{%block title %}{%endblock%}</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
        <style>
          h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
          .w3-bar-block .w3-bar-item {padding:20px}
          .w3-card {padding:64px; margin:100px}
        </style>

    </head>

    <body>
      <div class="w3-card" id="maintext">
      <h1>Let's diffuse some animals</h1>
      <p class="w3-large">This webapp models a reaction-diffusion system using two different sets of partial differential equations. Pick some values for the parameters of the simulation!</p>
        <div class="w3-container">
          <form id="f_form" enctype=multipart/form-data style="padding:32px" onsubmit="event.preventDefault(); onSubmit(event); return false;" action="">
            {%block fitzhugh_form%}{%endblock%}
          </form>
          <form id="g_form" enctype=multipart/form-data style="padding:32px" onsubmit="event.preventDefault(); onSubmit(event); return false;" class="hidden" action="">
            {%block grey_form%}{%endblock%}
          </form>
          <img id="output">

        </div>

      </div>
      <!-- Photo Grid-->
    <h1>A few examples of the Gray-Scott model</h1>
    <div class="w3-row-padding w3-padding-16 w3-center">
      <div class="w3-half">
        <h3>Fingerprint</h3>
        <img src="../images/fingerprint.gif" style="width:100%">
        <p>A fingerprint</p>
      </div>
      <div class="w3-half">
        <h3>Bacteria</h3>
        <img src="../images/bacteria.gif" style="width:100%">
        <p>Some bacteria</p>
      </div>

    </div>
    </body>
</html>
